/* #region Import Fonts */
@font-face{
    font-family: 'Raleway-Regular';
    src: url('fonts/Raleway-Regular.ttf');
}

@font-face{
    font-family: 'Raleway-Black';
    src: url('fonts/Raleway-Black.ttf');
}
/* #endregion */

html{
    width: 100%;
    height: auto;
}

body{
    width: 100%;
    height: auto;
    background-color: rgba(120, 200, 255, 0.35);
    font-family: 'Raleway-Regular';
    font-size: 11px;
    height: 100%;
    margin: 0;
    margin-bottom: 1vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

/* #region Encabezado */
#encabezado{
    width: 100%;
    font-family: 'Raleway-Black';
    text-align: center;
    font-size: 20px;
    background-color: rgb(0, 0, 120);
    color: rgb(200, 220, 255);
}
/* #endregion */

/* #region Cuerpo y otras cosas generales */
#cuerpo{
    width: 95%;
    background-color: white;
    border-radius: 5px;
    padding: 0 8px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 1vh;
}

.txt{
    width: 100%;
    text-align: justify;
}

.importante{
    width: 100%;
    border: 2px dotted rgb(0, 0, 120);
    color: rgb(0, 0, 120);
    background-color: rgb(50, 50, 240, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px 10px;
}

table{
    width: 100%;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
}

td{ border-radius: 5px; }

img{ user-select: none; }
/* #endregion */

/* #region Imagenes de tablas */
.berrie_table, .baya_icon{
    width: clamp(30px, 30%, 40px);
}

.seed_table{
    width: clamp(15px, 10%, 20px);
}
/* #endregion */

/* #region Filtro */
#filtro{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(30, 195, 234);
    border:1px solid rgba(0, 0, 120, 0.6);
}

#filtro tr{
    background-color: rgb(200, 240, 255);
}

#filtro td{
    border:1px solid rgba(0, 0, 120, 0.6);
    padding: 8px 4px;
}

#filtro .filt_sub{
    background-color: rgb(30, 50, 150);
    border:1px solid rgb(0, 0, 120);
    color: white;
    font-weight: bold;
    padding: 8px;
}

#filtro hr{
    width: 90%;
    border: 0.5px solid rgb(0, 0, 100);
}

/** Colores Semillas */
.picante{ color: rgb(230, 152, 40); }
.muy_picante { color: rgb(223, 131, 0); }
.seca{ color: rgb(34, 126, 167); }
.muy_seca{ color: rgb(0, 112, 163); }
.dulce{ color: rgb(246, 67, 232); }
.muy_dulce{ color: rgb(207, 0, 191); }
.amarga{ color: rgb(110, 195, 51); }
.muy_amarga{ color: rgb(70, 160, 0); }
.acida{ color: rgb(188, 192, 56); }
.muy_acida{ color: rgb(165, 150, 0); }

/** Colores destacados */
#filtro .destacar{
    background-color: rgb(0, 0, 120);
    font-weight: bold;
    color: whitesmoke;
}

#filtro .destacar hr{
    border-color: rgb(0, 174, 255);
}

.destacar .picante{ color: rgb(255, 174, 61); }
.destacar .muy_picante { color: rgb(255, 149, 0); }
.destacar .seca{ color: rgb(52, 194, 255); }
.destacar .muy_seca{ color: rgb(0, 174, 255); }
.destacar .dulce{ color: rgb(255, 93, 241); }
.destacar .muy_dulce{ color: rgb(255, 0, 234); }
.destacar .amarga{ color: rgb(150, 255, 75); }
.destacar .muy_amarga{ color: rgb(111, 255, 0); }
.destacar .acida{ color: rgb(250, 255, 93); }
.destacar .muy_acida{ color: rgb(255, 234, 0); }
/* #endregion */

/* #region Calculadora */
#calculadora{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(90, 0, 180);
    background-color: rgb(150, 100, 225);
}

#calculadora td{
    border: 1px solid rgba(90, 0, 180, 0.6);
    background-color: rgb(200, 200, 255);
    padding: 8px;
}

#calculadora .calc_sub{
    border: 1px solid rgb(90, 0, 180);
    background-color: rgb(120, 0, 200);
    color: white;
    font-weight: bold;
    padding: 8px;
}

#Btn_Seleccionar{
    font-family: 'Raleway-Regular';
    font-size: 11px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid rgb(90, 0, 180);
    background-color: rgb(120, 0, 200);
    color: white;
    user-select: none;
    cursor: pointer;
    transition-duration: 300ms;
}

#Btn_Seleccionar:hover{
    padding: 8px 16px;
    background-color: rgb(150, 100, 225);
}

#Btn_Seleccionar:active{
    font-weight: bold;
    padding: 8px 16px;
    background-color: white;
    color: rgb(120, 0, 200);
}
/* #endregion */

/* #region Tabla de Selección de Bayas */
#Close_Btn{
    position: absolute;
    top: 0.8vh;
    right: 0.8vh;
    width: 35px;
    height: 35px;
    overflow: none;
    background-color: white;
    font-size: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
    user-select: none;
    cursor: pointer;
}

#Close_Btn:hover{
    background-color: rgb(255, 200, 50);
}

#Close_Btn img{
    width: 100%;
    height: auto;
}

#Seleccion_bayas{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    transition-duration: 300ms;
}

#Tabla_Seleccion{
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 120, 0.6);
    background-color: rgb(20, 20, 200);
    font-family: 'Raleway-Black';
    color: white;
    user-select: none;
    transition-duration: 300ms;
}

#Tabla_Seleccion .Titulo{
    border: 1px solid rgb(0, 0, 120);
    background-color: rgb(20, 20, 140);
    padding: 8px;
    font-size: 16px;
}

#Tabla_Seleccion td{
    border: 1px solid rgba(0, 0, 120, 0.6);
    background-color: rgb(80, 80, 255);
    padding: 8px;
}

#Tabla_Seleccion img{
    width: clamp(44px, 5.8%, 150px);
    padding: 8px;
    transition-duration: 300ms;
}

#Tabla_Seleccion img:hover{
    width: clamp(49px, 7%, 160px);
}

#Semillas_1, #Semillas_2, #Evs_1, #Evs_2, #PPs_1, #PPs_2, #All{
    cursor: pointer;
}

#All{
    font-size: 16px;
}

.animation{
    animation: dls 900ms infinite;
}

@keyframes dls{
    0%{background-color: rgba(255, 255, 255, 0.6);}
    50%{background-color: rgba(80, 80, 255);}
    100%{background-color: rgba(255, 255, 255, 0.6);}
}
/* #endregion */

/* #region Creditos */
#Creditos{
    width: 100%;
    border: 2px solid rgb(0, 0, 120);
    background-color: rgba(200, 200, 255, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

#Creditos_Titulo{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color:rgb(0, 0, 120);
}

#Creditos_Prop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 1vh 0;
    gap: 2vh;

    font-size: 24px;
    font-family: 'Raleway-Black';
    color:rgb(0, 0, 120);
}

#Creditos_Img{
    width: 150px;
    border-radius: 50%;
    transition-duration: 300ms;
}

#Creditos_Img:hover{
    width: 175px;
    border-radius: 5px;
}

#Creditos_Cuerpo{
    text-align: justify;
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
}

.redes_sociales{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.redes_sociales .links{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    padding: 1vh 0;
    margin: 0.5vh 0;
    font-family: 'Raleway-Black';
    border-radius: 8px;
    background-color: rgba(90, 0, 180, 0.1);
    color: black;
    text-decoration: none;
    transition-duration: 300ms;
    user-select: none;
}

.redes_sociales .links:hover{
    background-color: rgba(255, 255, 255, 0.4);
    flex-basis: 60%;
}

.redes_sociales .links:active{
    background-color: rgba(0, 0, 0, 0.1);
    flex-basis: 60%;
}

.redes_sociales img{
    width: 22px;
}
/* #endregion */